/* h1, input, button */
:root{
 --btn-primary: #a1d9f0; 
 --blue: cornflowerblue;
 --white: #f7f7f7;
 --bgGrey: #f7f7f7;
}
body{
 font-family: Arial, Helvetica, sans-serif;
 background-color: var(--bgGrey);
}
.container{
 margin: 70px auto; 
 overflow: hidden;
 width: 80%;
 text-align: center;
}
button{
 border: 1px solid var(--btn-primary);
 padding: 9px;
 outline: none;
 width: 85px;
}